html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px; }

img {
  height: auto;
  max-height: 100%;
  width: 100%;
  vertical-align: middle; }

li {
  list-style-type: none; }

p {
  margin: 0; }

a {
  text-decoration: none;
  position: relative; }

.page {
  height: 100%; }

.poll {
  max-width: 900px;
  width: 100%;
  margin: 100px auto 0;
  padding: 0 15px; }
  .poll__title {
    color: #4b4b4b;
    font: 20px "Arial";
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    text-align: center; }
  .poll__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px; }
    .poll__row:last-child {
      margin-bottom: 0; }
  .poll__content {
    margin: 120px auto 0 auto; }
  .poll__icon {
    padding: 0 16px 0 0; }

.poll-rubric {
  display: flex;
  flex-direction: row;
  align-items: baseline; }
  .poll-rubric__label {
    color: #4b4b4b;
    font: 20px "Arial";
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.45px; }

.confess {
  display: flex;
  flex-direction: row;
  padding: 0 20px; }

.confess > li.star {
  margin: 0 3px;
  cursor: pointer;
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  background: url("../images/poll-icon/stars-sprite.png") no-repeat;
  background-position: -70px -10px; }

/********************* ONLY  CSS  FOR HOVER ON STARS   ********************** */
/********************************************************************** */
/******************* STYLE FOR JS  WHEM MOUSE HOVER ON STARS  *********************** */
.confess > li.star.hover {
  background: url("../images/poll-icon/stars-sprite.png") no-repeat;
  background-position: -11px -10px; }

.confess > li.star.selected {
  background: url("../images/poll-icon/stars-sprite.png") no-repeat;
  background-position: -11px -67px; }

/********************************************************************** */
.total-rite {
  display: flex;
  align-items: center; }
  .total-rite__count {
    color: #08d8c2;
    font: 30px "Arial";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px; }
  .total-rite__star {
    width: 24px;
    height: 24px;
    background: url("../images/poll-icon/star-selected.png") no-repeat center center;
    background-size: cover;
    margin-left: 10px; }

.btn-wrap {
  display: flex;
  justify-content: center;
  margin: 40px auto 40px auto; }
.btn__inner {
  width: 282px;
  height: 72px;
  position: relative;
  overflow: hidden; }
.btn_poll {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid #08d8c2;
  height: 100%;
  width: 100%;
  color: #08d8c2;
  font: 18px "Arial";
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #ffffff; }

.voted__wrap {
  display: flex;
  justify-content: center; }
.voted__text {
  color: #9d9d9d;
  font: 18px "Arial";
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.27px; }

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(8, 216, 194, 0.8);
  user-select: none;
  pointer-events: none;
  padding: 0;
  margin: 0;
  opacity: 0.6;
  transform: translate3d(-50%, -50%, 0);
  z-index: 10; }

/*# sourceMappingURL=style.css.map */
